body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0;
}

/* Header styles */

header {
    height: 600px;
    width: 1320px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./resources/Banner\ Image.png);
    background-size: 1320px 600px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.header-elements {
    padding-top: 120px;
}

header h5 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
}

header h2 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    line-height: 95px;
    width: 632px;
    margin: 0 auto;
    margin-top: -25px;
}



/* Promotion Sec styles */

.promotion-sec {
    display: block;
    text-align: center;
}

.promotion-sec-item h3 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 10px;
}

.promotion-sec-item p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;

}

.promotion-sec-item h4 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;

}

.promotion-sec-item img {
    width: 802.9px;
    height: 500px;
}


/* Party offer styles */

.party-offer-sec {
    height: 600px;
    width: 1320px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./resources/Vectorrr.png);
    background-size: 1320px 600px;
    background-repeat: no-repeat;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    gap: 130px;
    padding-top: 70px;
    margin-top: 100px;
}

.party-offer-sec h2 {
    width: 642px;
    display: block;
    justify-content: center;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    margin-left: 40px;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party-offer-sec p {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 70px;
    margin-left: 40px;
}

.party-offer-sec a {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 100px;
}

.party-offer-sec-img img {
    width: 319.83px;
    height: 464.662px;
    margin: 20px 0px 0px 0px;
}


/* party schedule style*/

.party-schedule-sec {
    width: 1320px;
    height: 482px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding-top: 100px;
}

.party-schedule-sec p {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
}

.party-schedule-sec span {
    color: #F00;
}

.party-schedule-sec button {
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    border: 0;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}


/* upcoming offer styles*/

.upcoming-offer-sec {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 120px;
}

.upcoming-offer-contents-header {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-top: 40px;
}

.happy-image {
    border-radius: 463px;
    border: 15px solid #F00;
    width: 463px;
    height: 463px;
    text-align: center;
}

.happy-image img {
    width: 364.844px;
    height: 364.844px;
    border-radius: 50%;
    padding: 49px;
}

.upcoming-offer-contents h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.upcoming-offer-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}

.year-2024 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.new-year-greeting p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
}

.new-year-greeting img {
    width: 140px;
    height: 140px;
}


/* Holiday Sales style */

.holiday-sale-upper-div {
    display: block;
    margin: 0 auto;
    width: 1068px;
    text-align: center;
    margin-top: 130px;
}

.holiday-sale-upper-div h5 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holiday-sale-upper-div h2 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sale-upper-div span {
    color: #F00;
}

.holiday-sale-upper-div p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}


.holiday-sale-lower-div {
    display: block;
    margin: 0 auto;
    width: 1320px;
    height: 700px;
    text-align: center;
    margin-top: 80px;
}

.holiday-sale-lower-div-elements {
    display: flex;
    justify-content: space-between;
}

.box-img {
    width: 790px;
    height: 657px;
}

.circle-discount {
    width: 206.841px;
    height: 206.841px;
    position: relative;
    right: 220px;
    top: 150px;
}

.happy-discount {
    background-image: url("./resources/Rectangle\ 1.png");
    background-repeat: no-repeat;
    width: 429px;
    height: 433px;
    background-size: 429px 433px;
}

.holiday-sale-bottom-img {
    width: 1320px;
    height: 229px;
    position: relative;
    top: -230px;
    z-index: -1;
}


/* Product SHowcase styles */

.product-showcase {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

.product-showcase-header {
    display: block;
    margin: 0 auto;
}

.product-showcase-header h5 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.product-showcase-header h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.product-showcase-header p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: 40px auto;
}

.showcase-images {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.showcase-images-div {
    width: 400px;
    height: 430px;
    margin: 10px;
}

.showcase-images img {
    width: 350px;
    height: 380px;
    border-radius: 17px;
    cursor: pointer;
}

.showcase-images img:hover {
    width: 370px;
    height: 400px;
    box-shadow: 10px 10px 10px lightblue;
}


/* Subscribe section style */

.subscribe-sec {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    padding-top: 100px;
}

.subscribe-sec img {
    width: 150px;
    height: 150px;
}

.subscribe-sec h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.subscribe-sec p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: 0 auto;
}

.subscribe-sec-email {
    margin-left: 130px;
    margin-top: 80px;
}

.subscribe-sec-email input[type="email"] {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    color: rgba(0, 0, 0, 0.734);
    font-size: 18px;
    font-weight: 400;
    padding-left: 40px;
    border: 0;
}

.subscribe-sec-email input[type="submit"] {
    width: 210px;
    height: 73px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: 0;
    position: relative;
    right: 214px;
    top: 0.7px;
    cursor: pointer;
}


/* Footer style */

footer {
    width: 1356px;
    height: 658px;
    background: #070211;
    color: #FFF;
    margin: 0 auto;
    margin-top: 120px;
}

.footer-div {
    padding: 120px 150px 40px 150px;
}

.upper-footer {
    display: flex;
    justify-content: space-between;
}

.upper-footer-contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    line-height: 7px;
}

.upper-footer-location {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.upper-footer-contact-info img {
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-right: 10px;
}

.footer-div hr {
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 1070px;
    margin-top: 50px;
}

.social-sites {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-sites a {
    margin-right: 30px;
}

.lower-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.lower-footer p {
    font-size: 24px;
    font-weight: 500;
}

.lower-footer a {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
}